{% extends "seoul/base.html" %}

{% load url from future %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block main %}


<div class="wrapper">
	<!--=== Header ===-->	

	<div id="hd">
		<!-- Top -->
		<div id="top" class="clear">
			<h1><a href="/">space.d</a></h1>
		</div>
	</div>
	<!--=== End Header ===-->

	<!--=== Content Part ===-->
	<div class="container content">

<!-- 회원가입 -->
<div class="rd">
	<section class="login_wrp pa20">
		<header class="margin-bottom-20 text-center">			
			<h2>{% trans "Sign Up" %}</h2>
		</header>
		<form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">{% csrf_token %}
			<div class="form-group">
				<!-- <input type="text" class="form-control" placeholder="이메일"> -->
				{{ form.username.errors }}
				{{ form.username|add_class:"form-control" }}
			</div>			
			<div class="form-group">
				<!-- <input type="password" placeholder="비밀번호" class="form-control"> -->
				{{ form.email.errors }}
				{{ form.email|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<!-- <input type="password" placeholder="비밀번호 확인" class="form-control"> -->
				{{ form.password1.errors }}
				{{ form.password1|add_class:"form-control" }}
			</div>
			<div class="form-group">
				<!-- <input type="text" placeholder="이름" class="form-control"> -->
				{{ form.password2.errors }}
				{{ form.password2|add_class:"form-control" }}
			</div>
			<div class="text-center mt20">
				<button class="btn-u btn-u-dark btn-block" type="submit">{% trans "Sign Up" %}</button>
			</div>
			<hr>
			<h4 class="text-center mb20">{% blocktrans %}Already have an account? Then please{% endblocktrans %}</h4>
			<div>
				<a class="btn-u btn-block" href="{{ login_url }}">SIGN-IN</a>
			</div>
		</form>
	</section>
</div>

	</div><!--/container-->	 
	<!-- End Content Part -->
</div><!--/wrapper-->

{% endblock %}


