@charset "utf-8";

ul{ margin:0; padding:0}
li{ list-style:none}

/* Grid Custom */
.row{ margin-left:-5px; margin-right:-5px}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{ padding-left:5px; padding-right:5px}

/* common */
img{ max-width:100%}
.ellipsis{ display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis}
/* Button */
.btn-u{padding:12px 20px;
color: #666;
font-weight: 600;
text-shadow: none;
font-size: 13px;
border: none;
background-color: #FFF;
background-image: none;
text-decoration: none;
letter-spacing: 0.5px;
word-spacing: 1px;
-webkit-border-radius: 2px;
-webkit-background-clip: padding-box;
-moz-border-radius: 2px;
-moz-background-clip: padding;
border-radius: 2px;
background-clip: padding-box;
box-shadow: inset 0 0 1px #666,inset 0 -2px 0 rgba(71, 73, 72, 0.050000000000000044); line-height:17px; text-align:center; text-decoration:none !important}
.btn-u-grey{ background:#bdbdbd; color:#FFF}
.btn-u-dark{background:#333; color:#FFF}
.btn-u-blue{ background:#4765a0; color:#FFF}
.btn-u-primary{ background:#1abc9c; color:#FFF}
.btn-u-lg{ padding:16px 24px; font-size:16px}
.btn-u-sm{ padding:8px 16px; font-size:12px}
.btn-u-xs{ padding:4px 12px; font-size:11px}
.btn-u-xxs{ padding:3px 9px; font-size:10px}
.btn-u-primary{ font-size:16px}
.btn-u small{ display:block; margin-bottom:4px; font-size:11px;}
.btn-u-default.disabled{ opacity:.5}
#topcontrol{ padding:6px 8px 8px; background:#666; font-size:20px; line-height:1; color:#FFF}

/* Form */
textarea{ width:100%; height:auto}
.img_bx div{ position:relative}
.btn-delimg{ position:absolute; bottom:-10px; right:10px}
form .rating {
	margin-bottom: 4px;
	line-height: 27px;
	color: #404040;
}
form .rating .fa{ font-size:27px}
form .rating:last-child {
	margin-bottom: 0;
}
form .rating input {
	position: absolute;
	left: -9999px;
}
form .rating label {
	display: block;
	float: right;
	height: 17px;
	margin-top: 5px;
	padding: 0 2px;
	font-size: 17px;
	line-height: 17px;
	cursor: pointer;
}
form .rating label {
	color: #ccc;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
form .rating input + label:hover,
form .rating input + label:hover ~ label {
  color:#1abc9c;
}
form .rating input:checked ~ label {
  color:#1abc9c; 
}
.help{ font-size:12px}
.help2{ margin:0 -20px; padding:20px; border-top:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; background:#F9F9F9}
.btn_upload {
	display:block;
	width:100%;
max-width: 300px;
padding:8px;
border: 1px solid #DDD;
background: none;
font-size:24px;
line-height: 1.3;
color: #999;}
legend{ margin:0;padding:10px 15px;border-top:1px solid #CCC;border-bottom:1px solid #CCC;background:#e9e9e9; font-weight:500;font-size:14px}
.form-group{ margin-bottom:10px}
.sp_select label{font-weight:400; font-size:13px}
label.checkbox{ font-weight:400}
.input_blank{ padding:7px 0}
.profile-bio{ position:relative; width:120px; height:120px; margin:0 auto 30px}
.profile-bio img{ margin-bottom:10px; box-shadow:0 1px 1px rgba(0,0,0,.3)}
.nostyle{ padding-left:0 !important; border:0 !important; box-shadow:none !important; background:none !important}
.nostyle_wrp .form-group{ margin-bottom:0 !important}
select.nostyle{ float:right; width:20px}
.page_complete{ padding:0; background:#F2F8FF}
.page_complete header{ padding:10px; background:#E9F0F9}
.page_complete h3{ margin:0; padding:10px; background:#C5D9EC; font-weight:400}
.page_complete .tb_v3{ margin:0}
.page_complete .tb_v3 th{ padding-left:10px}
#reservationSelect>div{ float:left; width:33.333333%}
#reservationSelect label{ display:none}
#reservationSelect .container{ padding:0}
#reservationSelect .drum-wrapper{ width:100%; cursor:ns-resize}
#reservationSelect figure{ text-align:center}
#reservationSelect svg{ margin-left:-10px}

/* heading */
body,input,textarea,select,button,table{ font-size:14px;font-family:'나눔고딕','NanumGothic',ng,'맑은 고딕','Malgun Gothic','돋움',Dotum,'Apple SD Gothic Neo',sans-serif; color:#666}
h1, h2, h3, h4, h5, h6{ font-weight:700}
h1{font-size:32px}
h2{font-size:21px}
h3{font-size:16px; border:0}
h4{font-size:14px}
.h4{ margin:0; padding:10px; font-size:14px;}
.h4.bg_f9{margin:0 -20px 10px; padding:15px 25px; border-bottom:1px solid #DDD; border-top:1px solid #DDD}
a,a:hover{ text-decoration:none;color:#666}
strong,.color-blk{ color:#000}
em,.color-green{ color:#1abc9c !important}
.color-grey{ color:#999 !important}
.color-silver{ color:#CCC !important}
.bg{ background:#e9e9e9 !important}
.bg_f9{ background:#F9F9F9 !important}
.bg_blk{ background:#333 !important}
.bg_red{ background:#1abc9c !important}

/* Modal Custom */
.modal-md{ width:440px}
.modal-header{ position:relative; z-index:1; background:#F7F7F7; background:linear-gradient(#fff, #F9F9F9); box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2)}
.modal-title{ text-align:center}
.modal-content>.close{ position:relative; z-index:10; margin:4px 8px;}
.modal-footer{ padding:5px}
.modal-footer.text-center{text-align:center !important}
.modal-footer.text-center .btn-u{ width:49%; padding:8px; font-size:14px}
.modal-footer.text-center.btn_num3 .btn-u{ width:32%}
.modal-footer.text-center.btn_num1 .btn-u{ width:100%}
.modal-footer.text-center .btn-u-primary{background:#333; color:#FFF}
.modal-lg .modal-content{max-width:800px; margin:0 auto;box-shadow:none; border:0; background:none}
.modal-lg .modal-content>.close{ position:relative; z-index:10; margin:4px 10px; font-size:28px;}
.modal-lg .modal-body{ margin:0 auto; padding:55px 10px 60px}
/* modal white */
.modal_wh .modal-backdrop.in{background:#e9e9e9; opacity:1}
/* modal2 */
.modal2 #hd{ display:none}
.modal2 .modal-header{ border-radius:6px 6px 0 0}
.modal2 .modal-dialog{ width:80%; max-width:300px; margin:60px auto}
.modal2_2 .modal-dialog{ width:90%;}
.modal-open2{ overflow:hidden}
.modal2{z-index:1070}
.modal_blk .modal-backdrop:nth-last-child(2){z-index:1060; background:#000; opacity:.5}
/* message */
#alertMsg{ display:none; position:fixed;top:40%;left:50%; z-index:10000; width:300px; margin-left:-150px; padding:20px; border-radius:6px; background:rgba(0,0,0,.8);text-align:center; color:#FFF}

/* Layout */
body{padding-top:45px;background:#e9e9e9}
.container{ max-width:800px; padding:10px}

/* Util */
.margin-bottom-10{ margin-bottom:10px}
.margin-bottom-20{ margin-bottom:20px}
.ml5{ margin-left:5px !important}
.mt5{ margin-top:5px !important}
.mt10{ margin-top:10px !important}
.mt20{ margin-top:20px !important}
.pl10{ margin-left:10px !important}
.pr10{ margin-right:10px !important}
.pl15{ margin-left:15px !important}
.pr15{ margin-right:15px !important}
.mb0{ margin-bottom:0 !important}
.mb5{ margin-bottom:5px !important}
.mb10{ margin-bottom:10px !important}
.mb20{ margin-bottom:20px !important}
.pa10{ padding:10px !important}
.pa20{ padding:20px !important}
.pt20{padding-top:20px !important}
.pb20{padding-bottom:20px !important}


/* Woodongpan */
/* common */
.icon{display:inline-block;overflow:hidden;width:32px;height:32px; margin:0; padding:0; border:0; background-repeat:no-repeat;font-size:0;line-height:0;vertical-align:middle;text-indent:-100px;}
.to_sns{ margin:0; padding:0}
.to_sns li{ list-style:none; padding:15px 4px; font-size:14px}
.to_sns .icon{ margin-right:15px; background-image:url(../img/sns_32.png)}
.to_sns .fb{background-position:0 -32px}
.to_sns .google{background-position:0 -64px}
.to_sns .pinterest{background-position:0 -96px}
.to_sns .line{background-position:0 -128px}
.to_sns .kakao{background-position:0 -160px}
.to_sns .kakaostory{background-position:0 -192px}
.to_sns .email{background-position:0 -224px}
.well_v2{ margin-bottom:30px; padding:15px;border:1px solid #EEE;background:#F9F9F9;}
/* Table */
.tb_v2{ width:100%; margin-bottom:30px}
.tb_v2 th,.tb_v2 td{ padding:10px 20px;border-top:1px solid #f0f0f0}
/*
.tb_v2>tbody>tr:nth-child(odd)>td, .tb_v2>tbody>tr:nth-child(odd)>th{background:#F9F9F9}
*/
.tb_v2 th{ padding-right:0px; font-weight:400; white-space:nowrap; color:#000}
.tb_v2 td{ text-align:right}
.tb_v2.text-left td{ text-align:left}
.tb_v3 th{ padding-left:0}
.tb_v4{ width:100%}
.tb_v4 td,.tb_v4 th{ padding:4px 8px 4px 0;vertical-align:top}
.tb_v5{ margin:0 -20px}
/* Form */
[class^=lst_type]{ list-style:none; margin:0; padding:0}
[class^=lst_type] li{ position:relative; padding-left:20px}
[class^=lst_type] li:before{ display:block; position:absolute;top:0px;left:0px;}
.lst_type_mark li:before{ content:"※";}
.lst_type_dash li{ padding-left:10px}
.lst_type_dash li:before{ content:"-";}
.page2{ padding:0 !important}
.page2 .h4{ margin:0}

/* Side Menu */
.nav_open{overflow:hidden}
.nav_open #wrap{position:fixed}
#sidebar_tg{display:none;position:fixed;top:0;bottom:0;z-index:9998;width:100%; margin:0; padding:0; border:0;background:rgba(0,0,0,.5)}
.nav_open #sidebar_tg{display:block}
.side_nav{position:fixed;top:0;bottom:0;width:270px;z-index:9999; background:#FFF;-moz-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}
.side_nav header{position:relative;height:45px;background:#333}
.side_nav>section{overflow:auto;-webkit-overflow-scrolling:touch;position:absolute;top:46px;bottom:0;width:100%}
.side_nav h1{margin:0 20px;font-weight:500;font-size:15px;line-height:45px;color:#fff}
.side_nav header .fa{position:absolute;top:0;left:0; border:0; background:none; text-align:center}
.side_nav header .fa.pull-right{left:auto;right:0}
#snb{left:0;-webkit-transform:translate(-270px,0);transform:translate(-270px,0)}
#snb2{right:0;-webkit-transform:translate(270px,0);transform:translate(270px,0)}
.snb_open #snb,.mypage_open #snb2{-webkit-transform:translate(0) !important;transform:translate(0) !important}
/* My Page*/
.side_nav header .fa{ display:block;width:45px;height:45px; font-size:22px; line-height:45px;color:#FFF}
.mypage{display:none}
.mypage header .btn-u{ margin:9px 20px}
.mypage h1 img{ width:35px; height:35px; margin:4px 10px 0 0}
.mypage h2{ margin:0;padding:12px 20px;border-bottom:1px solid #e9e9e9;background:#e9e9e9; font-weight:500;font-size:14px}
.mypage ul{ list-style:none; margin:0; padding:0}
.mypage li{ padding:10px 15px 10px 25px;border-bottom:1px solid #e9e9e9}
.mypage li a{ color:#999}
.mypage li .badge{ float:right; background:#1abc9c}

/* Top */
#hd{position:fixed;left:0;top:0;z-index:9997;width:100%;background:#FFF; box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.1),0 1px 0 0 rgba(0, 0, 0, 0.1);text-align:center}
#top{ position:relative;max-width:800px;height:45px; margin:0 auto}
#top a{ text-decoration:none; text-align:center}
#top>a{ display:block;position:absolute;top:0;width:45px;height:45px; font-size:21px; line-height:45px; color:#999}
#top>.fl{left:0}
#top>.fr{ position:absolute; right:0}
#hd h1{overflow:hidden; margin:0;padding:0 70px;font-size:17px;line-height:44px;white-space:nowrap;text-overflow:ellipsis;color:#f4f7ff}

/* blog */
.star-vote{ font-size:14px; line-height:16px}
.easy-bg-v2{top: 5px;
color: #fff;
width: 100px;
padding: 5px;
left: -32px;
font-size: 13px;
position: absolute;
text-align: center;
transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
background-color: rgba(231,76,60,0.8);}
.grid-boxes{ list-style:none; margin:0 auto; padding:0;}
.grid-box{ float:left; width:25%; padding:5px}
.grid-boxes-in{ overflow:hidden; position:relative;border-radius:6px;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22);background:#FFF}
.grid-boxes-caption{padding:12px;font-size:12px;text-align:center}
.grid-box .title{margin-bottom:8px; line-height:1.3}
.grid-box .title a{font-size:13px;text-decoration:none;color:#000}
.grid-box s{margin-right:2px;font-size:10px;color:#999}
.grid-box .hover-effect{ display:none}
.grid-box .fa-heart{ margin:0; padding:0; border:0; background:none; font-size:12px}
.grid-box .btnarea{ padding:0 5px 5px;/* border-top:1px solid #e7e7e7*/}
@media screen and (max-width:640px){
.grid-boxes_wrp{ margin:0 -5px}
.grid-box{ width:50%}
}
.grid-box-shop .more{ display:block; margin:0 10px 15px; text-align:left; font-size:11px; color:#999}
.grid-box-shop .title{ margin:20px 8px 8px; font-size:16px}
.grid-box-shop small{ display:block; margin-top:4px; font-size:13px;}
.grid-box-shop .btn-u{ white-space:nowrap}
.grid-box input{ display:none; position:absolute;top:10px; right:10px}
.open .grid-box input{ display:block}
/* Read */
.rd>section{overflow:hidden; position:relative;margin:0 auto 13px;border-radius:6px;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22);background:#FFF}
.rd_img{ position:relative}
.bx-wrapper{ margin-bottom:0}
.bx-wrapper .bx-controls-direction a{ z-index:20}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ bottom:20px}
.bx-wrapper .bx-viewport{ left:0; border:0;}
.bx-wrapper img{ max-height:480px; margin:0 auto}
.rd_img_meta{position:relative; border-top:5px solid #1abc9c; background:linear-gradient(#fff, #F9F9F9);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22),0 -1px 2px 0 rgba(0, 0, 0, 0.22);}
.rd_img_meta button,.rd_img_meta a{ display:block; width:100%;margin:0; padding:1px 6px;border:0; background:none; text-align:center; font-size:14px; line-height:40px; text-decoration:none;color:#000}
.rd_img_meta button small{ font-size:11px}
.rd_img_meta button[disabled]{ padding-top:7px; line-height:15px; color:#999}
.rd_img_meta .btn_favor{display: block;
position: absolute;
top: 0;
left: 50%;
width: 72px;
height: 72px;
margin: -18px -36px;
padding:0;
border:0;
border-radius: 50% !important;
box-shadow: 0 1px 2px rgba(0,0,0,.42);
background:linear-gradient(#F0F0F0, #FFF);font-size:12px; line-height:1.5; color:#999}
.btn_favor .fa-heart{font-size:28px; color:#333; -webkit-transition:all 1s ease-in-out; transition:all 1s ease-in-out}
.btn_favor .ani_start{ -webkit-transform:scale(1.3);transform:scale(1.3)}
.price_info{padding:12px 18px;border-top:1px solid #d9dcde;border-bottom:1px solid #d9dcde}
.price_info>p{margin-bottom:12px;font-size:12px;line-height:19px;color:#9ba0a2}
.price_info>p>b{font-size:19px;}
.rd_hd{ margin:0 20px; padding:20px 0;text-align:center; /*border-bottom:1px solid #e9e9e9*/}
.rd_hd h2{ margin:10px 0 15px;font-size:24px; letter-spacing:-1px; color:#000}
.rd_hd s{color:#CCC}
.rd_hd strong{ margin-left:4px;font-size:14px}
.rd article{padding:20px; line-height:1.6}
.rd section>h3{ margin:0;padding:15px 20px;border-bottom:1px solid #f0f0f0;font-size:16px}
.rd_list ul,.coupon_lst ul,.review_lst ul,.common_lst ul{list-style:none;margin:0;padding:0}
.rd_list li,.coupon_lst li,.review_lst li,.common_lst li{padding:15px 20px;
border-bottom: 1px dotted #f0f0f0;
font-size: 13px;
position: relative;}
.rd_list strong{position: absolute;right: 20px;}
.rd_list small{font-weight:300;color:#CCC}
.rd_list .total{ font-weight:700}
.coupon_lst li{ padding-right:60px; font-size:11px; color:#999}
.coupon_lst strong{ display:block; margin-bottom:5px; font-size:14px;}
.coupon_lst li img{ width:40px; margin-right:15px;}
.coupon_lst button,.hide_btn,.show_btn{ position:absolute;top:0; right:0; width:60px; height:100%; padding:8px; border:0; background:none; font-size:11px; text-align:center; opacity:.8}
.hide_btn.checked{ color:#1abc9c;}
.coupon_lst button:hover{ opacity:1}
.coupon_lst button .fa,.hide_btn .fa{ display:block; margin-bottom:4px; font-size:28px}
.common_lst li{ padding-right:60px}
.common_lst .fa-chevron-right{position:absolute;top:50%; right:10px; margin-top:-12px; font-size:24px; color:#CCC}
.common_lst .badge2{float:right; margin:-8px -52px 0 0;padding:3px 8px; border-radius:3px;background:#999; font-weight:300; font-size:10px;color:#FFF}
.common_lst h5{margin:0 0 10px; font-weight:500; font-size:15px; line-height:1.2;color:#000}
.common_lst h5 small{ display:block;}
.common_lst h5 a{ display:block}
.common_lst .tmb{ overflow:hidden; float:left; width:60px; height:60px; margin-left:-75px}
.common_lst img{ max-width:none;height:60px;}
.row_lst{font-size:11px;color:#CCC}
.row_lst2{ margin-bottom:5px; font-size:12px; color:#999}
.row_lst2 b{ margin-right:4px}
.list_edit{ float:right; margin:-36px 8px}
.show_btn .btn-u{ margin:10px 0; padding:13px 0; white-space:nowrap}
.hide_btn,.common_lst .open .fa-chevron-right,.common_lst .open .badge2,.open .show_btn{ display:none;}
.open .hide_btn{ display:block}
.favor_lst li{ padding:10px 60px 10px 80px}
.favor_lst .tmb{ overflow:hidden; margin-left:-70px; width:60px; height:90px}
.favor_lst img{ width:auto; height:90px;}
.favor_lst .show_btn .btn-u{ margin-top:5px}

.review_lst li .fa-share{float: left;margin-left:20px;font-size: 20px;color: #CCC;}
.review_lst li .fa-chevron-right{position:absolute;top:50%; right:10px; margin-top:-12px; font-size:24px; color:#CCC}
.review_lst li .ribbon{ float:right; margin:-8px -12px 0 0;}
.review_lst li>div{margin-left:65px}
.review_lst li .meta,.review_lst li .star-vote{ margin-bottom:5px}
.review_lst li .meta small{margin-left:2px;color:#999}
.review_lst li>img{ width:50px; height:50px}
.review_lst .notice{ position:relative; margin:-1px 0; background:#F9F9F9;border-top:1px solid #DDD;border-bottom:1px solid #DDD;box-shadow:inset 0 0 4px rgba(0,0,0,.1)}
.review_lst .notice>div{ margin:0; color:#333}
.review_lst .owner{background:#F9F9F9;}
.review_lst.v2 li>div{margin-left:0}
.review_lst.v2 .re>div{margin-left:40px}
.review_lst.v2 .re .fa-share{margin-left:5px}
.review_lst .open li>div{ padding-right:40px}


.rd_info{ position:relative}
.rd_info_ribbon{ position:relative; z-index:1; box-shadow:0 1px 4px rgba(0,0,0,.2); background:#F6F6F6;background:linear-gradient(#fff, #F9F9F9); line-height:40px}
.rd_info_ribbon strong{ float:left; margin-right:10px; padding:0 10px; background:rgba(231,76,60,1); color:#FFF}
.rd_info_ribbon.v2{ border-radius:6px 6px 0 0;font-size:12px; line-height:1.4; white-space:nowrap;text-align:center}
.rd_info_ribbon.v2>div>div{ padding:6px 4px}
.rd_info_ribbon b{ display:block; font-weight:400; letter-spacing:-1px}
.rd_info_cnt{ padding:20px;}
.rd_info .category{ color:#999}
.rd_info .rd_hd{ border:0;}
.rd_info h2{ margin:0;font-weight:400;font-size:20px; line-height:1.3; letter-spacing:-1px;color:#000}
.rd_info .meta{ font-size:12px; color:#999}
.rd_info .meta strong{ font-size:1.1em;}
.rd_info .rd_img_meta{ border:0;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22),0 -1px 2px 0 rgba(0, 0, 0, 0.1);}
.rd_info .row>div{ border-left:1px solid #DDD}
.section_btnarea{ padding:10px 20px;border-bottom:1px solid #f0f0f0;}
.rd_meta{ position:relative; z-index:10;box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.22); background:#FFF}
.rd_meta>div{border-left:1px solid #EEE;border-right:1px solid #CCC}
.rd_meta>div:first-child{border-left:0}
.rd_meta>div:last-child{border-right:0}
.rd_meta button,.rd_meta a{display:block;height:40px; margin:0; padding:0; border:0;background:none; font-weight:400;line-height:40px; text-decoration:none;text-align:center}
.rd_info_msg{ position:absolute;top:0;left:0; bottom:0; right:0; background:rgba(255,255,255,.8)}
.rd_info_msg h1{ position:absolute;top:50%; width:100%; margin-top:-20px; font-weight:700; font-size:40px; line-height:40px;}

.rd_slide{ position:relative;}
.rd_slide_meta{ position:absolute;bottom:8px; right:8px; padding:8px; border-radius:4px; background:rgba(0,0,0,.5); font-size:11px}
.rd_slide_meta *{ color:#FFF}
.carousel-control{ font-size:40px}
.carousel-control .fa{ position:absolute;top:50%; margin-top:-20px}
.rd_map{ position:relative}
.rd_map:after{content:""; display:block; position:absolute;top:0;left:0;bottom:0; right:0; box-shadow:inset 0 0 8px rgba(0,0,0,.2)}

.zine3{ margin:15px -15px}
.zine3 .btn_delete{ display:none}
.zine3 .inner-results{ padding:15px}
.zine3.open .inner-results,.zine4 .inner-results{ padding-right:60px !important}
.zine3.open .btn_delete{ display:block; position:absolute;top:0;bottom:0; right:0; width:50px;}
.zine3  h3{ margin-bottom:5px !important}
.zine3 h3 a{ font-size:16px}
.zine3 h3 small{ display:block; margin-bottom:5px; font-size:12px}
.zine3 .row_lst{ font-size:11px; line-height:1.6; color:#999}
.zine3 b{ color:#333}
.zine4 .list-inline{ margin-right:10px; font-size:13px}
.zine4 b{ margin-right:10px}
.zine4 .btns_area{position:absolute;top:0;bottom:0; right:0; width:60px;}
.zine4 .btns_area a{ display:block; width:50px; height:50px; margin:15px 0 -5px; padding:0; font-size:12px; line-height:50px; white-space:nowrap; text-align:center}
.zine4.open .btns_area{ display:none}
.inner-results_btn{ margin-top:10px}
/* Form */
.ft_fixed{ position:fixed;bottom:0;left:0; right:0; z-index:1050; padding:8px;box-shadow:0 -2px 2px 0 rgba(0, 0, 0, 0.1),0 -1px 0 0 rgba(0, 0, 0, 0.1);background:#FFF}
.ft_fixed>*{ max-width:800px; margin:0 auto}

/* loading */
#loading{ position:fixed;top:45px;bottom:0; width:100%; padding:40px; background-position:50% 50%; background-size:cover;opacity:.7}
#loading h1{ margin:40% 0 0; font-weight:400; font-size:24px; line-height:1.4; letter-spacing:-1px;text-align:center; color:#FFF;text-shadow:0 1px 1px rgba(0,0,0,1); }
.spinner {
  margin:40px auto 0;
  text-align: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  margin:12px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Mobile */
@media screen and (max-width:550px){
.to_sns .icon{background-image:url(../img/sns_64.png);background-size:32px auto}
}
