{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load url from future   %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block main %}


<div class="wrapper">
	<!--=== Header ===-->	
	<div id="hd">
		<!-- Top -->
		<div id="top" class="clear">
			<h1><a href="/">BUNKER SEOUL</a></h1>
		</div>
	</div>
	<!--=== End Header ===-->

	<!--=== Content Part ===-->
	<div class="container content">

<!-- 로그인 -->
<div class="rd">
	<section class="login_wrp pa20">
		<header class="mb20 text-center">			
			<h2>{% trans "Sign In" %}</h2>
		</header>
		<form role="form" class="login" method="POST" action="{% url 'account_login' %}">{% csrf_token %}
			<div class="form-group">
				<!-- <input type="text" class="form-control" placeholder="이메일"> -->
				{{form.login|add_class:"form-control"}}
			</div>			
			<div class="form-group">
				<!-- <input type="password" placeholder="비밀번호" class="form-control"> -->
				{{form.password|add_class:"form-control"}}
			</div>
			<div class="form-group">
				<div class="margin-bottom-10">
					<button class="btn-u btn-u-grey btn-block" type="submit">{% trans "Sign In" %}</button>
				</div>
			</div>
			<div class="form-group clearfix">
				<div class="col-xs-6">
					<label class="checkbox"><!-- <input type="checkbox">  -->{{ form.remember }}Remember</label>						
				</div>
				<div class="col-xs-6">
					<a class="pull-right" href="{% url 'account_reset_password' %}" style="margin-top:11px">Forgot Password?</a>
				</div>
			</div>
			<hr>
			<h4 class="text-center mb20">BUNKER SEOUL Member yet?</h4>
			<div>
				<a class="btn-u btn-u-dark btn-block" href="{{ signup_url }}">SIGN-UP</a>
			</div>
		</form>
	</section>
</div>

	</div><!--/container-->	 
	<!-- End Content Part -->
</div><!--/wrapper-->



{% endblock %}
