{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block main %}



<div class="wrapper">
	<!--=== Header ===-->	
	<div id="hd">
		<!-- Top -->
		<div id="top" class="clear">
			<h1><a href="/l">space.d</a></h1>
		</div>
	</div>
	<!--=== End Header ===-->

	<!--=== Content Part ===-->
	<div class="container content">

<!-- 회원가입 -->
<div class="rd">
	<section class="login_wrp pa20">
		<header class="margin-bottom-20 text-center">			
			<h2>{% trans "Sign Out" %}</h2>
		</header>
		<form role="form" class="signup" id="signup_form" method="post" action="{% url 'account_logout' %}">{% csrf_token %}
			<h4 class="text-center mb20">{% trans 'Are you sure you want to sign out?' %}</h4>
			<hr>
			<div class="text-center mt20">
				<button class="btn-u btn-u-dark btn-block" type="submit">{% trans "Sign Out" %}</button>
			</div>
		</form>
	</section>
</div>

	</div><!--/container-->	 
	<!-- End Content Part -->
</div><!--/wrapper-->


{% endblock %}
