{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block main %}
<div class="rd">
	<section class="login_wrp pa20">
		<header class="mb20 text-center">			
			<h2>{% trans "Change Password" %}</h2>
		</header>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change frm2">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-u btn-u-dark btn-block" name="action">{% trans "Change Password" %}</button>
    </form>
	</section>
</div>
{% endblock %}
