{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block main %}
<div class="rd">
	<section class="login_wrp pa20">
		<header class="mb20 text-center">			
			<h2>{% trans "Set Password" %}</h2>
		</header>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn-u btn-u-dark btn-block" name="action" value="{% trans "Set Password" %}"/>
    </form>
	</section>
</div>
{% endblock %}
