{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}
<div class="rd">
	<section class="login_wrp pa20">
		<header class="mb20 text-center">			
			<h2>{% trans "Password Reset" %}</h2>
		</header>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p class="help">{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
	</section>
</div>
{% endblock %}
