<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load compress pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}

<link rel="stylesheet" href="{% static "assets/plugins/bootstrap/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "assets/plugins/font-awesome/css/font-awesome.min.css" %}">

<link rel="stylesheet" href="{% static "css/jquery.bxslider.css" %}">
<link rel="stylesheet" href="{% static "css/custom.css" %}">
{% if LANGUAGE_BIDI %}
	<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
	<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
	<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}
<!-- <script src="{% static "js/jquery-1.8.3.min.js" %}"  type="text/javascript"></script> -->
<script src="{% static "assets/plugins/jquery-1.10.2.min.js" %}" type="text/javascript"></script>  
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>
{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<!-- Mypage -->
<div id="snb" class="side_nav mypage">
	<header>
		<!-- 로그인 전
		<a class="btn-u btn-u-sm" href="#">로그인</a> -->
		<!-- 로그인 후 -->
		<h1><!-- <img class="pull-left" src="http://img.ezmember.co.kr/cache/board/2012/12/30/950b4b2daac4355a101ec83505a0984e.jpg" alt="">  -->{{request.user.username}}</h1>
		<a class="fa fa-chevron-left pull-right" href="#" onClick="menuClose();return false;"><span class="sr-only">Close</span></a>
	</header>
	<section>
		<div>
			<ul>
				<a href="/"><li>MAIN</li></a>
				<a href="/seoul/subscription/list/"><li>SUBSCRIPTION</li></a>
				<a href="/shop/cart/"><li>CART</li></a>
				<a href="/shop/wishlist/"><li>WISHLIST</li></a>
				<a href="/accounts/update/"><li>PROFILE</li></a>
				<a href="/account/logout/"><li>LOGOUT</li></a>
			</ul>
		</div>
	</section>
</div>
<!-- //Mypage -->
	

{% nevercache %}
{% if messages %}
<div class="messages">
{% for message in messages %}
<div class="alert alert-dismissable alert-{{ message.tags }}" data-alert="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{ message }}
</div>
{% endfor %}
</div>
{% endif %}
{% endnevercache %}	

<div class="wrapper">
	<!--=== Header ===-->	
	<div id="hd">
		<!-- Top -->
		<div id="top" class="clear">
			{% if user.is_authenticated %}
			<a class="fa fa-bars fl" onClick="menuOpen('snb');return false;"><span class="sr-only">메뉴</span></a>
			{% endif %}
<!-- 			<a class="fa fa-search fr" href="search.html"><span class="sr-only">검색</span></a> -->
			<h1><a href="/">space.d</a></h1>
		</div>
	</div>
	

		
	<!--=== End Header ===-->
	{% block main %}{% endblock %}
</div><!--/wrapper-->




 
<script src="{% static "assets/plugins/jquery-migrate-1.2.1.min.js" %}"  type="text/javascript"></script> 
<script src="{% static "assets/plugins/bootstrap/js/bootstrap.min.js" %}"  type="text/javascript"></script>
<script src="{% static "assets/plugins/back-to-top.js" %}"  type="text/javascript"></script>
<script src="{% static "assets/plugins/masonry/jquery.masonry.min.js" %}"  type="text/javascript"></script>
<script src="{% static "js/jquery.bxslider.min.js" %}"  type="text/javascript"></script>
<script src="{% static "js/custom.js" %}"  type="text/javascript"></script>


</body>
</html>
