{% extends "seoul/base.html" %}
{% load mezzanine_tags shop_tags  i18n staticfiles %}

{% block main %}
{% with object=request.user %}

<div class="wrapper">
	<!--=== Header ===-->	
	<div id="hd">
		<!-- Top -->
		<div id="top" class="clear">
			<a class="fa fa-bars fl" onClick="menuOpen('snb');return false;"><span class="sr-only">메뉴</span></a>
			<a class="fa fa-search fr" href="search.html"><span class="sr-only">검색</span></a>
			<h1><a href="/">BUNKER SEOUL</a></h1>
		</div>
	</div>
	<!--=== End Header ===-->

{% if products.paginator.count != 0 %}

<div class="row product-list">
{% for product in products.object_list %}
    <div class="col-xs-6 col-sm-4 col-lg-3 product-thumb">
    <a href="{{ product.get_absolute_url }}" class="thumbnail">
        {% if product.image %}
        <img src="{{ MEDIA_URL }}{% thumbnail product.image 148 148 %}">
        {% else %}
        <div class="placeholder"></div>
        {% endif %}
        <div class="caption">
        <h6>{{ product }}</h6>
        <div class="price-info">
        {% if product.has_price %}
            {% if product.on_sale %}
            <span class="old-price">{{ product.unit_price|currency }}</span>
            {% trans "On sale:" %}
            {% endif %}
            <span class="price">{{ product.price|currency }}</span>
        {% else %}
            <span class="coming-soon">{% trans "Coming soon" %}</span>
        {% endif %}
        </div>
        </div>
    </a>
    </div>
{% endfor %}
</div>

	<!--=== Content Part ===-->
	<div class="container content">
		<!-- 그리드 목록 -->
		<section class="grid-boxes_wrp">
			<ul class="grid-boxes clearfix">
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ak0.pinimg.com/236x/b6/99/9c/b6999c2564eb53e247aee545a109d28e.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">JackThreads - Braydon Jacket Stone</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>        
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ec0.pinimg.com/236x/7d/9d/e1/7d9de1de4c2e7bceff53ebf21acc29b1.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">Joshua Sanders SS15 Capsule Collection</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>            
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ec0.pinimg.com/236x/14/19/35/141935abb9a2c503a48b23138d1fb6f8.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">Thom Browne Jersey</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>            
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ec0.pinimg.com/236x/7d/9d/e1/7d9de1de4c2e7bceff53ebf21acc29b1.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">JackThreads - Braydon Jacket Stone</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>            
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ak0.pinimg.com/236x/b6/99/9c/b6999c2564eb53e247aee545a109d28e.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">Joshua Sanders SS15 Capsule Collection</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>            
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
				<!-- menu -->
				<li class="grid-box">
					<div class="grid-boxes-in">
						<a href="detail.html"><img src="https://s-media-cache-ec0.pinimg.com/236x/14/19/35/141935abb9a2c503a48b23138d1fb6f8.jpg" alt=""></a>
						<div class="grid-boxes-caption">
							<div class="title"><a href="detail.html">Thom Browne Jersey</a></div>
							<div class="clearfix">
								<div class="pull-left"><strong>8,000원</strong> </div>
								<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> 106</div>
							</div>            
						</div>
						<div class="btnarea">
							<button type="button" class="btn-u btn-u-sm btn-block">구매하기</button>
						</div>
					</div>
				</li>
			</ul>
			<div class="pa10">
				<button type="button" class="btn-u btn-block">더보기</button>
			</div>
		</section>
	</div><!--/container-->	 
	<!-- End Content Part -->
</div><!--/wrapper-->


{% pagination_for products %}

{% endif %}

{% endwith %}
{% endblock %}
