{% extends "seoul/base.html" %}

{% load seoul_tags i18n %}

{% block main %}


	<!--=== Content Part ===-->
	<div class="container content">
		<!-- 그리드 목록 -->
		<section class="grid-boxes_wrp">
			<ul class="grid-boxes clearfix">
			
					{% sub_products request.user as products %}
					{% for product in products %}
					<!-- menu -->
					<li class="grid-box">
						<div class="grid-boxes-in">
							{% if product.image %}
							<a href="{{ product.get_absolute_url }}"><img src="{{ MEDIA_URL }}{{ product.image }}" alt=""></a>						
					        {% else %}
					        <div class="placeholder"></div>
					        {% endif %}
							<div class="grid-boxes-caption">
								<div class="title"><a href="{{ product.get_absolute_url }}">{{ product }}</a></div>
								<div class="clearfix">
									<div class="pull-left"><strong>{% if product.has_price %}{{ product.unit_price }}(USD){% endif %}</strong> </div>
									
									{% product_like product request.user %}
									<div class="pull-right color-silver"><button type="button" class="fa fa-heart color-silver" title="좋아요"><span class="sr-only">좋아요</span></button> {{like_count}}</div>
								</div>        
							</div>
						</div>
					</li>
					{% empty %}
						<a class="btn-u btn-u-sm btn-block btn_subscribe" href="/seoul/subscription/list/">구독하기</a>

<!-- 						<div style="text-align: center;">리스트가 없을 때, 여기 점선으로 둘러싸인<p> <a href="/seoul/subscription/list/"><strong>구독하기</strong></p><p></p></div> -->
					{% endfor %}
			</ul>
		</section>
	</div><!--/container-->	 
	<!-- End Content Part -->



{% endblock %}
